<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Base Models</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
        }
        .card {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <h3 class="card-title text-center">List of Models</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Model ID</th>
                                <th>Model Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for model in models %}
                            <tr>
                                <td>{{ model.model_name }}</td>
                                <td>{{ model.price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ url_for('create_base_model') }}" class="btn btn-primary btn-block">Create New Base Model</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
